<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxp.openadmin.dao.BoardMapper">

    <select id="getBoardList" resultType="com.cxp.openadmin.domain.dto.front.BoardDto" parameterType="Map">
        /* BoardMapper.xml ,  getBoardList */
        SELECT
            *
        FROM
            (     SELECT A.BOARD_ID,
                         A.POST_NO,
                         A.POST_GRP_NO,
                         A.POST_GRP_SN,
                         A.POST_LVL,
                         A.CATE_ID,
                         A.POST_TIT,
                         A.POST_CONT,
                         A.POST_SD,
                         A.POST_ED,
                         A.REG_ID,
                         A.REG_NM,
                         A.REG_EMAIL,
                         A.MOD_ID,
                         A.MOD_NM,
                         A.MOD_EMAIL,
                         NVL(A.VIEW_CNT, 0) AS VIEW_CNT,
                         (SELECT COUNT(*)
                            FROM CM_FILE_MST
                          WHERE FILE_GRP_SEQ = A.FILE_GRP_SEQ) AS ATTFILE_CNT,
                         (SELECT COUNT(*)
                            FROM CM_BOARD_COMT
                           WHERE DEL_YN = 'N'
                                 AND POST_NO = A.POST_NO) AS COMNT_CNT,
                         A.NOTI_YN,
                         A.MAIN_NOTI_YN,
                         A.FILE_GRP_SEQ,
                         A.DEL_YN,
                         A.REG_DT,
                         A.MOD_DT,
                         A.SECRT_YN,
                         CASE WHEN T.PRD_USE_YN = 'Y' THEN CASE WHEN DATE_FORMAT(NOW(), '%Y%m%d') BETWEEN NVL(A.POST_SD, '00000000') AND NVL(A.POST_ED, '99999999') THEN 'Y' ELSE 'N' END
                              ELSE 'N' END AS SHOW_YN,
                         #{paramsMap.search_type} as yy,
                         #{paramsMap.search_comment} as xx
                  FROM CM_BOARD A
                       JOIN  CM_BOARD_MGT T ON T.BOARD_ID = A.BOARD_ID
                       LEFT JOIN CM_BOARD_MGR R ON R.BOARD_ID = A.BOARD_ID
                                                AND R.USER_ID = 'SYSTEM'
                 WHERE 1=1
                       AND A.DEL_YN = 'N'
                       AND A.BOARD_ID = '1'
                       AND CASE WHEN NVL(T.PRD_USE_YN,'') != 'Y' THEN 'Y'
                                WHEN NVL(R.USER_ID,'') != '' THEN 'Y'
                                WHEN T.PRD_USE_YN = 'Y' THEN CASE WHEN NVL(A.POST_SD,'00000000') BETWEEN NVL(A.POST_SD,'00000000') AND NVL(A.POST_ED,'99999999') THEN 'Y' END
                                ELSE 'N' END = 'Y'
            ) M
        WHERE 1=1
        <if test="paramsMap.search_type != null and paramsMap.search_type != '' and paramsMap.search_comment != null and paramsMap.search_comment != ''">
            <if test='paramsMap.search_type == "E"'>
                AND (POST_TIT like concat('%',#{paramsMap.search_comment},'%')
                     OR POST_CONT like concat('%',#{paramsMap.search_comment},'%'))
            </if>

            <if test='paramsMap.search_type == "T"'>
                AND POST_TIT like concat('%',#{paramsMap.search_comment},'%')
            </if>

            <if test='paramsMap.search_type == "C"'>
                AND POST_CONT like concat('%',#{paramsMap.search_comment},'%')
            </if>
        </if>
        ORDER BY
            CAST(POST_GRP_NO AS INTEGER) DESC,
            CAST(POST_GRP_SN AS INTEGER)
    </select>

    <select id="selectNextPostNo" resultType="string" parameterType="Map">
        /* BoardMapper.xml ,  selectNextPostNo */
        SELECT NVL(MAX(CAST(POST_NO AS INTEGER)),0) + 1 AS POST_NO
          FROM CM_BOARD
         WHERE BOARD_ID = #{paramsMap.board_id}
    </select>

    <insert id="insertBoard" parameterType="com.cxp.openadmin.domain.dto.front.BoardDto">
        /* BoardMapper.xml ,  insertBoard */
        INSERT INTO CM_BOARD
        (
            BOARD_ID,
            POST_NO,
            POST_GRP_NO,
            POST_GRP_SN,
            POST_LVL,
            POST_TIT,
            POST_CONT,
            POST_SD,
            POST_ED,
            REG_NM,
            REG_EMAIL,
            MOD_NM,
            MOD_EMAIL,
            NOTI_YN,
            MAIN_NOTI_YN,
            DEL_YN,
            SECRT_YN,
            REG_ID,
            REG_DT,
            MOD_ID,
            MOD_DT)
        VALUES
            (#{paramsMap.board_id},
             #{paramsMap.post_no},
             NVL(#{paramsMap.post_grp_no}, #{paramsMap.post_no}),
             NVL(#{paramsMap.post_grp_sn}, 0),
             NVL(#{paramsMap.post_lvl}  , 1),
             #{paramsMap.post_tit},
             #{paramsMap.post_cont, jdbcType=CLOB},
             REPLACE(#{paramsMap.post_sd}, '-', ''),
             REPLACE(#{paramsMap.post_ed}, '-', ''),
             #{paramsMap.reg_nm},
             #{paramsMap.reg_email},
             #{paramsMap.mod_nm},
             #{paramsMap.mod_email},
             IF(#{paramsMap.noti_yn} = 'TRUE', 'Y', 'N'),
             NVL(#{paramsMap.main_noti_yn}, 'N'),
             'N',
             NVL(#{paramsMap.secrt_yn}, 'N'),
             (SELECT ID FROM SYS_USER WHERE USERNAME = #{paramsMap.reg_id}),
             now(),
            (SELECT ID FROM SYS_USER WHERE USERNAME = #{paramsMap.mod_id}),
             now()
            )
    </insert>

    <update id="updateBoard" parameterType="com.cxp.openadmin.domain.dto.front.BoardDto">
        /* BoardMapper.xml ,  updateBoard */
        UPDATE CM_BOARD
        SET POST_GRP_NO    = #{paramsMap.post_grp_no},
            POST_GRP_SN    = #{paramsMap.post_grp_sn},
            POST_LVL       = #{paramsMap.post_lvl},
            POST_TIT       = #{paramsMap.post_tit},
            POST_CONT      = #{paramsMap.post_cont},
            POST_SD        = REPLACE(#{paramsMap.post_sd}, '-', ''),
            POST_ED        = REPLACE(#{paramsMap.post_ed}, '-', ''),
            MOD_NM         = #{paramsMap.mod_nm},
            MOD_EMAIL      = #{paramsMap.mod_email},
            NOTI_YN        = IF(#{paramsMap.noti_yn} = 'TRUE', 'Y', 'N'),
            MAIN_NOTI_YN   = NVL(#{paramsMap.main_noti_yn}, 'N'),
            FILE_GRP_SEQ   = #{paramsMap.file_grp_seq},
            mod_id         = #{paramsMap.mod_id},
            mod_dt         = now()
        where board_id     = #{paramsMap.board_id}
          and post_no      = #{paramsMap.post_no}
    </update>

    <update id="deleteBoard" parameterType="com.cxp.openadmin.domain.dto.front.BoardDto">
        /* BoardMapper.xml ,  deleteBoard */
        UPDATE CM_BOARD
        SET DEL_YN         = 'Y',
            mod_id         = #{paramsMap.mod_id},
            mod_dt         = now()
        where board_id     = #{paramsMap.board_id}
          and post_no      = #{paramsMap.post_no}
    </update>

    <select id="getBoardComtList" resultType="com.cxp.openadmin.domain.dto.front.BoardDto" parameterType="Map">
        SELECT POST_COMNT_NO
             , BOARD_ID
             , POST_NO
             , COMNT_CONT
             , REG_NM
             , DEL_YN
             , REG_ID
             , REG_DT
             , MOD_ID
             , MOD_DT
        FROM CM_BOARD_COMT
        WHERE BOARD_ID     = #{paramsMap.board_id}
          AND POST_NO      = #{paramsMap.post_no}
    </select>

</mapper>