<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxp.openadmin.dao.CmCodeGrpMapper">

    <select id="getCmCodeGrpList" resultType="com.cxp.openadmin.domain.dto.backed.SaveCmCodeGrpDto" parameterType="Map">
        /* CmCodeGrpMapper.xml ,  getCmCodeGrpList */
        select
               t.GROUP_CD
             , t.GROUP_NM
             , t.GROUP_NM_EN
             , t.CODE_TYPE
             , t.REM
             , t.USE_YN
             , t.REG_ID
             , t.REG_DT
             , t.MOD_ID
             , t.MOD_DT
        from cm_code_grp t
        where 1=1
        <if test="paramsMap.groupCd != null and paramsMap.groupCd != ''">
            AND t.GROUP_CD like concat('%',#{paramsMap.groupCd},'%')
        </if>
        <if test="paramsMap.useYn != null and paramsMap.useYn != ''">
            AND t.USE_YN = #{paramsMap.useYn}
        </if>
        <if test="paramsMap.groupNm != null and paramsMap.groupNm != ''">
            AND t.GROUP_NM = #{paramsMap.groupNm}
        </if>
    </select>

    <select id="getCmCodeList" resultType="com.cxp.openadmin.domain.dto.backed.CmCodeDto" parameterType="Map">
        /* CmCodeGrpMapper.xml ,  getCmCodeList */
        select
              t.GROUP_CD
            , t.CODE
            , t.CODE_NM
            , t.CODE_NM_EN
            , t.SORT
            , t.DATA1
            , t.DATA2
            , t.DATA3
            , t.DATA4
            , t.DATA5
            , t.DATA6
            , t.DATA7
            , t.DATA8
            , t.DATA9
            , t.DATA10
            , t.REM
            , t.USE_YN
            , t.REG_ID
            , t.REG_DT
            , t.MOD_ID
            , t.MOD_DT
        from cm_code t
        where 1=1
        <if test="paramsMap.group_cd != null and paramsMap.group_cd != ''">
            AND t.GROUP_CD like concat('%',#{paramsMap.group_cd},'%')
        </if>
    </select>



</mapper>