<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxp.openadmin.dao.CmCodeGrpMapper">

    <select id="getCmCodeGrpList" resultType="com.cxp.openadmin.domain.dto.backed.SaveCmCodeGrpDto" parameterType="Map">
        /* CmCodeGrpMapper.xml ,  getCmCodeGrpList */
        select
               t.group_cd
             , t.group_nm
             , t.group_nm_en
             , t.code_type
             , t.rem
             , t.use_yn
             , t.reg_id
             , t.reg_dt
             , t.mod_id
             , t.mod_dt
        from cm_code_grp t
        where 1=1
        <if test="paramsMap.groupCd != null and paramsMap.groupCd != ''">
            and t.group_cd like concat('%',#{paramsMap.groupCd},'%')
        </if>
        <if test="paramsMap.useYn != null and paramsMap.useYn != ''">
            and t.use_yn = #{paramsMap.useYn}
        </if>
        <if test="paramsMap.groupNm != null and paramsMap.groupNm != ''">
            and t.group_nm = #{paramsMap.groupNm}
        </if>
        order by t.group_cd asc
    </select>

    <select id="getCmCodeListAllUseStore" resultType="com.cxp.openadmin.domain.dto.backed.SaveCmCodeGrpDto" parameterType="Map">
        /* CmCodeGrpMapper.xml ,  getCmCodeListAllUseStore */
        select
            a.GROUP_CD
             , a.GROUP_NM
             , a.GROUP_NM_EN
             , (
            SELECT
                concat("[",group_concat(JSON_OBJECT("code", cc.CODE , "code_nm", cc.CODE_NM,"code_nm_en",cc.CODE_NM_EN,"sort",cc.SORT,"use_yn",cc.USE_YN,"data1",cc.DATA1,"data2",cc.DATA2,"data3",cc.DATA3,"data4",cc.DATA4,"data5",cc.DATA5)),"]")
            from cm_code cc
            where GROUP_CD = a.GROUP_CD
              and USE_YN   = 'Y'
        ) as cm_code_list
        from cm_code_grp a
    </select>

    <select id="getCmCodeList" resultType="com.cxp.openadmin.domain.dto.backed.CmCodeDto" parameterType="Map">
        /* CmCodeGrpMapper.xml ,  getCmCodeList */
        select
              t.group_cd
            , t.code
            , t.code_nm
            , t.code_nm_en
            , t.sort
            , t.data1
            , t.data2
            , t.data3
            , t.data4
            , t.data5
            , t.data6
            , t.data7
            , t.data8
            , t.data9
            , t.data10
            , t.rem
            , t.use_yn
            , t.reg_id
            , t.reg_dt
            , t.mod_id
            , t.mod_dt
        from cm_code t
        where 1=1
        <if test="paramsMap.group_cd != null and paramsMap.group_cd != ''">
            and t.group_cd like concat('%',#{paramsMap.group_cd},'%')
        </if>
        order by t.sort
    </select>

    <insert id="insertCmCodeGrp" parameterType="com.cxp.openadmin.domain.dto.backed.SaveCmCodeGrpDto" statementType="PREPARED">
        /* CmCodeGrpMapper.xml ,  insertCmCodeGrp */
        insert into cm_code_grp
        (
              group_cd
            , group_nm
            , group_nm_en
            , code_type
            , rem
            , use_yn
            , reg_id
            , reg_dt
            , mod_id
            , mod_dt
        )
        values
        (
              #{paramsMap.group_cd}
            , #{paramsMap.group_nm}
            , #{paramsMap.group_nm_en}
            , #{paramsMap.code_type}
            , #{paramsMap.rem}
            , #{paramsMap.use_yn}
            , #{paramsMap.reg_id}
            , now()
            , #{paramsMap.mod_id}
            , now()
        )
    </insert>

    <update id="updateCmCodeGrp" parameterType="com.cxp.openadmin.domain.dto.backed.SaveCmCodeGrpDto" statementType="PREPARED">
        update cm_code_grp set
               group_nm    = #{paramsMap.group_nm}
             , group_nm_en = #{paramsMap.group_nm_en}
             , code_type   = #{paramsMap.code_type}
             , rem         = #{paramsMap.rem}
             , use_yn      = #{paramsMap.use_yn}
             , mod_id      = #{paramsMap.mod_id}
             , mod_dt      = now()
        where group_cd = #{paramsMap.group_cd}
    </update>
    <delete id="deleteCmCodeGrp" parameterType="com.cxp.openadmin.domain.dto.backed.SaveCmCodeGrpDto">
        delete from cm_code_grp
        where group_cd = #{paramsMap.group_cd}
    </delete>

    <insert id="insertCmCode" parameterType="com.cxp.openadmin.domain.dto.backed.CmCodeDto">
        /* CmCodeGrpMapper.xml ,  insertCmCodeGrp */
        insert into cm_code
        (
              group_cd
            , code
            , code_nm
            , code_nm_en
            , sort
            , data1
            , data2
            , data3
            , data4
            , data5
            , data6
            , data7
            , data8
            , data9
            , data10
            , rem
            , use_yn
            , reg_id
            , reg_dt
            , mod_id
            , mod_dt
        )
        VALUES
        (
              #{paramsMap.group_cd}
            , #{paramsMap.code}
            , #{paramsMap.code_nm}
            , #{paramsMap.code_nm_en}
            , #{paramsMap.sort}
            , #{paramsMap.data1}
            , #{paramsMap.data2}
            , #{paramsMap.data3}
            , #{paramsMap.data4}
            , #{paramsMap.data5}
            , #{paramsMap.data6}
            , #{paramsMap.data7}
            , #{paramsMap.data8}
            , #{paramsMap.data9}
            , #{paramsMap.data10}
            , #{paramsMap.rem}
            , #{paramsMap.use_yn}
            , #{paramsMap.reg_id}
            , now()
            , #{paramsMap.mod_id}
            , now()
        )
    </insert>

    <update id="updateCmCode" parameterType="com.cxp.openadmin.domain.dto.backed.CmCodeDto">
        update cm_code set
              group_cd = #{paramsMap.group_cd}
            , code = #{paramsMap.code}
            , code_nm = #{paramsMap.code_nm}
            , code_nm_en = #{paramsMap.code_nm_en}
            , sort = #{paramsMap.sort}
            , data1 = #{paramsMap.data1}
            , data2 = #{paramsMap.data2}
            , data3 = #{paramsMap.data3}
            , data4 = #{paramsMap.data4 =}
            , data5 = #{paramsMap.data5}
            , data6 = #{paramsMap.data6}
            , data7 = #{paramsMap.data7}
            , data8 = #{paramsMap.data8}
            , data9 = #{paramsMap.data9}
            , data10 = #{paramsMap.data10}
            , rem = #{paramsMap.rem}
            , use_yn = #{paramsMap.use_yn}
            , mod_id = #{paramsMap.mod_id}
            , mod_dt = now()
        where group_cd = #{paramsMap.group_cd}
          and code     = #{paramsMap.code}
    </update>
    <delete id="deleteCmCode" parameterType="com.cxp.openadmin.domain.dto.backed.CmCodeDto">
        delete from cm_code
        where group_cd = #{paramsMap.group_cd}
          and code     = #{paramsMap.code}
    </delete>



</mapper>