<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxp.openadmin.dao.FileMapper">


    <select id="getCmFileList" resultType="com.cxp.openadmin.domain.dto.backed.CmFileMstDto" parameterType="Map">
        /* FileMapper.xml ,  getCmFileList */
        select
              t.file_seq
            , t.file_grp_seq
            , t.file_no
            , t.file_nm
            , t.file_type
            , t.file_size
            , t.file_path
            , t.file_desc
            , t.sort_order
            , t.orgin_file_nm
            , t.file_cont
            , t.save_type
            , t.refer_id
            , t.refer_type
            , t.thumbnail_file_path
            , t.thumbnail_file_nm
            , t.thumbnail_file_cont
            , t.thumbnail_save_type
            , t.thumbnail_file_size
            , t.use_yn
            , t.reg_id
            , t.reg_dt
            , t.mod_id
            , t.mod_dt
        from cm_file_mst t
        where 1=1
        <if test="paramsMap.file_grp_seq != null and paramsMap.file_grp_seq != ''">
            and t.file_grp_seq like concat('%',#{paramsMap.file_grp_seq},'%')
        </if>
        <if test="paramsMap.file_seq != null and paramsMap.file_seq != ''">
            and t.file_seq = #{paramsMap.file_seq}
        </if>
        order by t.file_seq asc
    </select>

    <insert id="insertCmFileMst" parameterType="com.cxp.openadmin.domain.dto.front.FileDto">
        /* FileMapper.xml ,  insertCmFileMst */
        insert into cm_file_mst
        (
             file_grp_seq
            ,file_no
            ,file_nm
            ,file_type
            ,file_size
            ,file_path
            ,file_desc
            ,sort_order
            ,orgin_file_nm
           -- ,file_cont
            ,save_type
            ,refer_id
            ,refer_type
            ,thumbnail_file_path
            ,thumbnail_file_nm
           -- ,thumbnail_file_cont
            ,thumbnail_save_type
            ,thumbnail_file_size
            ,use_yn
            ,reg_id
            ,reg_dt
            ,mod_id
            ,mod_dt
        )
        VALUES
        (
             #{paramsMap.file_grp_seq}
            ,#{paramsMap.file_no}
            ,#{paramsMap.file_nm}
            ,#{paramsMap.file_type}
            ,#{paramsMap.file_size}
            ,#{paramsMap.file_path}
            ,#{paramsMap.file_desc}
            ,#{paramsMap.sort_order}
            ,#{paramsMap.orgin_file_nm}
              -- ,file_cont
            ,#{paramsMap.save_type}
            ,#{paramsMap.refer_id}
            ,#{paramsMap.refer_type}
            ,#{paramsMap.thumbnail_file_path}
            ,#{paramsMap.thumbnail_file_nm}
                -- ,thumbnail_file_cont
            ,#{paramsMap.thumbnail_save_type}
            ,#{paramsMap.thumbnail_file_size}
            ,#{paramsMap.use_yn}
            ,#{paramsMap.reg_id}
            ,now()
            ,#{paramsMap.mod_id}
            ,now()
        )
    </insert>

    <delete id="deleteFile" parameterType="Map">
        delete from cm_file_mst
        where file_seq = #{paramsMap.file_seq}
    </delete>


</mapper>