<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxp.openadmin.dao.ItemMapper">

    <select id="getItemList" resultType="com.cxp.openadmin.domain.dto.front.ItemDto" parameterType="Map">
        /* ItemMapper.xml ,  getItemList */
        SELECT A.PLANT_CD
        , A.OWNER_CD
        , A.ITEM_CD
        , A.ITEM_NM
        , A.SPEC
        , A.UNIT
        , A.CLASS1
        , A.CLASS2
        , A.CLASS3
        , A.BOXQTY
        , A.PLTQTY
        , A.IN_PRICE1
        , A.OUT_PRICE1
        , A.LOT_YN
        , A.FIFO_YN
        , A.APPRO_INV
        , A.IN_WH_CD
        , A.IN_LC_CD
        , A.REMARK
        , A.USE_YN
        , A.REG_ID
        , A.REG_DT
        , A.MOD_ID
        , A.MOD_DT
        , A.FILE_GRP_SEQ
        FROM MST_ITEM A
        where 1=1

        <if test="paramsMap.item_cd != null and paramsMap.item_cd != ''">
            AND A.ITEM_CD like concat('%',#{paramsMap.item_cd},'%')
        </if>

        <if test="paramsMap.item_nm != null and paramsMap.item_nm != ''">
            AND A.ITEM_NM like concat('%',#{paramsMap.item_nm},'%')
        </if>

        <if test="paramsMap.use_yn != null and paramsMap.use_yn != ''">
            AND A.USE_YN = #{paramsMap.use_yn}
        </if>

        ORDER BY A.PLANT_CD, A.OWNER_CD, A.ITEM_CD

    </select>

    <insert id="insertItem" parameterType="com.cxp.openadmin.domain.dto.front.ItemDto">
        /* ItemMapper.xml ,  insertItem */
        insert into mst_item
        (
                 plant_cd
                ,owner_cd
                ,item_cd
                ,item_nm
                ,spec
                ,unit
                ,class1
                ,class2
                ,class3
                ,boxqty
                ,pltqty
                ,in_price1
                ,out_price1
                ,lot_yn
                ,fifo_yn
                ,appro_inv
                ,in_wh_cd
                ,in_lc_cd
                ,remark
                ,use_yn
                ,reg_id
                ,reg_dt
                ,mod_id
                ,mod_dt
        )
        VALUES
            (
                 #{paramsMap.plant_cd}
                ,#{paramsMap.owner_cd}
                ,#{paramsMap.item_cd}
                ,#{paramsMap.item_nm}
                ,#{paramsMap.spec}
                ,#{paramsMap.unit}
                ,#{paramsMap.class1}
                ,#{paramsMap.class2}
                ,#{paramsMap.class3}
                ,NVL(#{paramsMap.boxqty}, 0)
                ,NVL(#{paramsMap.pltqty}, 0)
                ,NVL(#{paramsMap.in_price1}, 0)
                ,NVL(#{paramsMap.out_price1}, 0)
                ,#{paramsMap.lot_yn}
                ,#{paramsMap.fifo_yn}
                ,NVL(#{paramsMap.appro_inv}, 0)
                ,#{paramsMap.in_wh_cd}
                ,#{paramsMap.in_lc_cd}
                ,#{paramsMap.remark}
                ,#{paramsMap.use_yn}
                ,#{paramsMap.reg_id}
                ,now()
                ,#{paramsMap.mod_id}
                ,now()
            )
    </insert>

    <update id="updateItem" parameterType="com.cxp.openadmin.domain.dto.front.ItemDto">
        /* ItemMapper.xml ,  updateItem */
        update mst_item
           set    item_nm       = #{paramsMap.item_nm}
                 ,spec          = #{paramsMap.spec}
                 ,unit          = #{paramsMap.unit}
                 ,class1        = #{paramsMap.class1}
                 ,class2        = #{paramsMap.class2}
                 ,class3        = #{paramsMap.class3}
                 ,boxqty        = #{paramsMap.boxqty}
                 ,pltqty        = #{paramsMap.pltqty}
                 ,in_price1     = #{paramsMap.in_price1}
                 ,out_price1    = #{paramsMap.out_price1}
                 ,lot_yn        = #{paramsMap.lot_yn}
                 ,fifo_yn       = #{paramsMap.fifo_yn}
                 ,appro_inv     = #{paramsMap.appro_inv}
                 ,in_wh_cd      = #{paramsMap.in_wh_cd}
                 ,in_lc_cd      = #{paramsMap.in_lc_cd}
                 ,remark        = #{paramsMap.remark}
                 ,use_yn        = #{paramsMap.use_yn}
                 ,mod_id        = #{paramsMap.mod_id}
                 ,mod_dt        = now()
        where plant_cd = #{paramsMap.plant_cd}
          and owner_cd = #{paramsMap.owner_cd}
          and item_cd  = #{paramsMap.item_cd}
    </update>

    <update id="updateFileGrpSeq" parameterType="com.cxp.openadmin.domain.dto.front.ItemDto">
        /* ItemMapper.xml ,  updateFileGrpSeq */
        update mst_item
        set file_grp_seq   = #{paramsMap.file_grp_seq}
        where plant_cd = #{paramsMap.plant_cd}
          and owner_cd = #{paramsMap.owner_cd}
          and item_cd  = #{paramsMap.item_cd}
    </update>

    <delete id="deleteItem" parameterType="com.cxp.openadmin.domain.dto.front.ItemDto">
        /* ItemMapper.xml ,  deleteItem */
        update mst_item
           set use_yn  = 'N'
              ,mod_id  = #{paramsMap.mod_id}
              ,mod_dt  = now()
        where plant_cd = #{paramsMap.plant_cd}
          and owner_cd = #{paramsMap.owner_cd}
          and item_cd  = #{paramsMap.item_cd}
    </delete>

</mapper>