<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxp.openadmin.dao.TMstLcMapper">

    <select id="getMstLcList" parameterType="Map" resultType="com.cxp.openadmin.domain.dto.backed.TmstLcDto">
        /* TMstLcMapper.xml , getMstLcList */
        select
            t.plant_cd
          , t.lc_cd
          , t.lc_nm
          , t.wh_cd
          , t.zn_cd
          , t.lc_holdtype
          , t.lc_type
          , t.use_yn
          , t.remark
          , t.reg_id
          , t.reg_dt
          , t.mod_id
          , t.mod_dt
        from t_mst_lc t
        where 1=1
        <if test="paramsMap.plant_cd != null and paramsMap.plant_cd != ''">
            and t.plant_cd like concat('%',#{paramsMap.plant_cd},'%')
        </if>
        <if test="paramsMap.plant_nm != null and paramsMap.plant_nm != ''">
            and t.plant_nm like concat('%',#{paramsMap.plant_nm},'%')
        </if>
        <if test="paramsMap.use_yn != null and paramsMap.use_yn != ''">
            and t.use_yn = #{paramsMap.use_yn}
        </if>
        order by t.plant_cd asc
    </select>

    <insert id="insertMstLc" parameterType="com.cxp.openadmin.domain.dto.backed.TmstLcDto"
            statementType="PREPARED">
        /* TMstLcMapper.xml ,  insertCmCodeGrp */
        insert into t_mst_lc
        (
              plant_cd
            , wh_cd
            , wh_nm
            , wh_type
            , use_yn
            , remark
            , reg_id
            , reg_dt
            , mod_id
            , mod_dt
        )
        values
        (
              #{paramsMap.plant_cd}
            , #{paramsMap.wh_cd}
            , #{paramsMap.wh_nm}
            , #{paramsMap.wh_type}
            , #{paramsMap.use_yn}
            , #{paramsMap.remark}
            , #{paramsMap.reg_id}
            , now()
            , #{paramsMap.mod_id}
            , now()
        )
    </insert>

    <update id="updateMstLc" parameterType="com.cxp.openadmin.domain.dto.backed.TmstLcDto"
            statementType="PREPARED">
        /* TMstLcMapper.xml ,  updateCmCodeGrp */
        update t_mst_lc set


            lc_nm       = #{paramsMap.lc_nm}
          , wh_cd       = #{paramsMap.wh_cd}
          , zn_cd       = #{paramsMap.zn_cd}
          , lc_holdtype = #{paramsMap.lc_holdtype}
          , lc_type     = #{paramsMap.lc_type}
          , use_yn      = #{paramsMap.use_yn}
          , remark      = #{paramsMap.remark}
          , mod_id      = #{paramsMap.mod_id}
          , mod_dt      = now()
        where plant_cd = #{paramsMap.plant_cd}
          and lc_cd    = #{paramsMap.lc_cd}

    </update>
    <delete id="deleteMstLc" parameterType="com.cxp.openadmin.domain.dto.backed.TmstLcDto">
        /* TMstLcMapper.xml ,  deleteMstLc */
        delete
        from t_mst_lc
        where plant_cd = #{paramsMap.plant_cd}
          and lc_cd    = #{paramsMap.lc_cd}
    </delete>

</mapper>