<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxp.openadmin.dao.TMstPlantMapper">

  <select id="getMstPlantList" parameterType="Map" resultType="com.cxp.openadmin.domain.dto.backed.TmstPlantDto">
    /* CmCodeGrpMapper.xml ,  getCmCodeGrpList */
    select
       t.plant_cd
       t.plant_nm
       t.addr
       t.use_yn
       t.remark
       t.reg_id
       t.reg_dt
       t.mod_id
       t.mod_dt
    from t_mst_plant t
    where 1=1
    <if test="paramsMap.plant_cd != null and paramsMap.plant_cd != ''">
      and t.plant_cd like concat('%',#{paramsMap.plant_cd},'%')
    </if>
    <if test="paramsMap.plant_nm != null and paramsMap.plant_nm != ''">
      and t.plant_nm = #{paramsMap.plant_nm}
    </if>
    <if test="paramsMap.use_yn != null and paramsMap.use_yn != ''">
      and t.use_yn = #{paramsMap.groupNm}
    </if>
    order by t.plant_cd asc
  </select>

</mapper>